body {
    background-color: #F6ECE3;
    text-align: center;
}

h1 {
    color: #91766E;
}

h5 {
    color: black;
    background-color: white;
}

p {
    color: black;
    background-color: white;
}